DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/mutuharjo_dev"
SESSION_SECRET="ganti-dengan-random-string-panjang-minimal-32-karakter"
PORT=5000
NODE_ENV=development
CORS_ORIGIN="http://localhost:3000"
